

{% extends 'layout.html'%}

{% block content%}

<body>
  <div class ="container">
  <form action="{{url_for('results')}}"
  method="POST">
  <div class="form-group">
    <label for="val">Input value 1</label>
    <input type="text" class="form-control" id="val1"  placeholder="Value 1"
    name="val1">
    
  </div>
  <div class="form-group">
    <label for="val2">Input value 2</label>
    <input type="text" class="form-control" id="val2" placeholder="Value 2"
    name="val2">
  </div>
  
  </div>
  <button type="submit" class="btn btn-primary">Multiply</button>
</form>
  </div>
</body>
{% endblock %}